body{
    background-color: #fff;
}

@font-face{
    font-family: priconne;
    src: url("../pages_data/fonts/FZFWQingYinTiJWB.TTF");
}

@font-face{
    font-family: resource;
    src: url("../pages_data/fonts/resource.ttf");
}

.rarity-1,.rarity-2,.rarity-3,.rarity-4,.rarity-5{
    border-style: solid;
}
.rarity-1{
    border-color: gray;
}
.rarity-2{
    border-color: seagreen;
}
.rarity-3{
    border-color: royalblue;
}
.rarity-4{
    border-color: slateblue;
}
.rarity-5{
    border-color: gold;
}

.noshow{
    display: none;
}

.copyright{
    width: 100%;
    text-align: right;
    user-select: none;
}

#template-block{
    display: none;
}

#gametitle{
    width: 100%;
    height: 500px;
    transition: 500ms;
    overflow: hidden;
}

#gametitle img{
    display: block;
    margin: 0 auto;
}

.game_start_btn_group{
    width: 100px;
    margin: 0 auto;
}

.mainbutton{
    width: 100px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid #ff3985;
    border-radius: 5px;
    padding: 2px 0;
    cursor: pointer;
    user-select: none;
}

.mainbutton:hover{
    background-color: #ff398580;
    transition: 200ms;
}

#gamebody{
    width: 100%;
    transition: 500ms;
}

.height-no-active{
    height: 0px !important;
}

.game-block{
    width: 90%;
    padding: 5px 5px;
    max-height: 0;
    transition: all 500ms;
    margin: 10px auto;
    background: #e8e8e8;
    box-shadow: 0 2px 2px 1px #aaa;
    border-radius: 5px;
    border-bottom: #e8e8e8 solid 2px;
    overflow: hidden;
    filter:brightness(1);
    font-family: priconne;
    user-select: none;
}

.game-block.appear{
    max-height: 1800px;
}

.game-block.active{
    pointer-events: auto;
}

.game-block.no-active{
    pointer-events: none;
}

.game-block:not(:last-child){
    pointer-events: none;
    filter: brightness(0.5);
    -webkit-transition : -webkit-filter 500ms linear
}

.game-block:hover{
    border-bottom: rgb(93, 177, 255) solid 2px;
    background: #f8f8f8;
    box-shadow: 0 0 1px 1px rgb(93, 177, 255);
}

.paragraph{
    margin-left: 20px;
    /* text-indent: 1em; */
    font-family: priconne;
}

.game-block-title{
    font-family: priconne;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    user-select: none;
    margin-bottom: 5px;
}
    .game-block-title-back{
        transition: 200ms;
        padding: 0 10px;
        border-radius: 5px;
        margin-right: 10px;
    }
        .game-block-title-back:hover{
            background-color: #ff398580;
        }

.next-block{
    /* height: 30px; */
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
    border-top: 1px #000;
    display: flex;
    flex-direction: row-reverse;
    user-select: none;
}

    .next-button{
        display: block;
        height: 24px;
        min-width: 100px;
        border-radius: 5px;
        border: #ff3985 solid 1px;
        background: #d8d8d8;
        text-align: center;
        font-family: priconne;
        transition: 200ms;
    }

    .next-button:hover{
        background: #ff398580;
    }

.main-page-block{
    height: 180px;
    background-image: url("../pages_data/main-back.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.main-page-block:hover{
    background-image: url("../pages_data/main-back.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.main-page-block-top{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    user-select: none;
}

    .main-page-block .main-name{
        margin-right: 10px;
    }
    .main-page-block .main-lv{
        margin-right: 10px;
    }
    .main-page-block .main-exp{
        margin-right: 10px;
        width: 200px;
        /* height: 10px; */
        /* color: transparent; */
        background: linear-gradient(to right,rgb(129, 185, 77),rgb(129, 185, 77) 42.2%, transparent 42.2%, transparent);
        border: black solid 1px;
        bottom: 0px;
    }

    .main-resource{
        margin-top: 5px;
        width: 150px;
        font-size: 18px;
        height: 25px;
        font-family: resource;
        display: flex;
        flex-direction: row;
    }
        .resource-icon{
            height: 25px;
            width: 25px;
            margin-right: 3px;
        }
        .resource-money-icon{
            background-image: url("../pages_data/25px-Coinicon.png");
        }
        .resource-oil-icon{
            background-image: url("../pages_data/25px-Oilicon.png");
        }
        .resource-ruby-icon{
            background-image: url("../pages_data/25px-Ruby.png");
        }

.main-page-block-choose{
    display: flex;
    flex-direction: row;
}

    .main-page-block-choose-action{
        margin: 10px 0 0 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 224px;
    }
        .main-action{
            width: 100px;
            margin: 0 10px 10px 0;
            border: #ff3985 solid 1px;
            border-radius: 5px;
            text-align: center;
            transition: all 200ms;
            user-select: none;
        }
        .main-action:hover{
            background: #ff398580;
        }

    .main-page-block-important{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
        .main-fleet{
            width: 50px;
            height: 100px;
            /* border: #ff3985 solid 1px; */
            border-radius: 5px;
            background-image: url("../pages_data/setfleet.png");
            transition: 200ms;
        }
        .main-fleet:hover{
            background: #ff398580;
            background-image: url("../pages_data/setfleet.png");
        }

        .main-battle{
            margin-left: 10px;
            width: 100px;
            height: 50px;
            border-radius: 5px;
            background-image: url("../pages_data/battle.png");
            transition: 200ms;
        }
        .main-battle:hover{
            background: #ff398580;
            background-image: url("../pages_data/battle.png");
        }

.char-select{
    height: 350px;

}
    .char-list{
        height: 300px;
        width: 620px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        padding: 5px;
        /* border-bottom: #000 solid 1px; */
        /* margin-left: 15px; */
        margin: 5px auto;
        overflow-y: scroll;
    }
    .char-list::-webkit-scrollbar{
        width: 5px;
    }
        .char-list-block{
            height: 100px;
            width: 190px;
            user-select: none;
            margin-bottom: 10px;
            margin-right: 5px;
            border-radius: 5px;
            /* padding: 0 2px; */
            transition: 200ms;
        }
            .char-list-block:hover{
                filter: brightness(1.1);
                box-shadow: 0 0 1px 1px #ff3985;
            }
            .char-list-block *{
                pointer-events: none;
            }
        .char-list-block:not(:last-child){
            margin-right: 5px;
        }
        .char-list-block.rarity-1{
            background: url("../pages_data/illu_list/rarity-0.png");
            border: gray solid 2px;
        }
        .char-list-block.rarity-2{
            background: url("../pages_data/illu_list/rarity-1.png");
            border: seagreen solid 2px;
        }
        .char-list-block.rarity-3{
            background: url("../pages_data/illu_list/rarity-2.png");
            border: royalblue solid 2px;
        }
        .char-list-block.rarity-4{
            background: url("../pages_data/illu_list/rarity-3.png");
            border: slateblue solid 2px;
        }
        .char-list-block.rarity-5{
            background: url("../pages_data/illu_list/rarity-4.png");
            border: gold solid 2px;
        }
            .char-list-block-image{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-image: url("../pages_data/illu_list/yukikaze.png");
            }
            .char-list-lv-star{
                display: flex;
                height: 84px;
            }
            .char-lv{
                font-family: resource;
                width: 170px;
                padding-left: 2px;
            }
            .char-star{
                font-family: priconne;
                width: 20px;
                writing-mode: vertical-lr;
                -webkit-text-stroke: 1px #ff3985;
                display: flex;
                background-color: #00000020;
                /* flex-direction: column; */
            }
                .char-star-ready{
                    color: goldenrod;
                    text-shadow: 0 1px #ff3985, 1px 0 #ff3985, -1px 0 #ff3985, 0 -1px #ff3985;
                }
                .char-star-notready{
                    color: transparent;
                }
            .char-name{
                font-family: priconne;
                font-size: 14px;
                height: 16px;
                text-align: center;
                overflow: hidden;
                background-color: #00000080;
                color: #FFF;
            }
            .char-name div{
                animation: 10s wordsLoop linear infinite normal;
                white-space: nowrap;
            }
                @keyframes wordsLoop{
                    0%{
                        transform: translateX(120px);
                    }
                    100%{
                        transform: translateX(-100%);
                    }
                }

.char-detail-attr-illu{
    height: 300px;
    display: flex;
    flex-direction: row;
    user-select: none;
}
    .char-detail-attr{
        width: 450px;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-right: 5px;
    }
        .char-detail-attr-item{
            height: 20px;
            margin: 4px 0 5px 0;
        }
        .char-detail-attr-lvexp{
            font-family: resource;
            font-size: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .char-detail-attr-name{
                width: 80px;
                margin-top: -5px;
            }
            .char-detail-attr-lv{
                width: 80px;
                margin-top: -5px;
            }
            .char-detail-attr-exp{
                width: calc(100% - 80px);
                margin-top: -5px;
                border: #aaa solid 1px;
                background: linear-gradient(to right,rgb(129, 185, 77),rgb(129, 185, 77) 40%, transparent 40%, transparent);
            }
        .char-detail-attr-short{
            width: 125px;
            margin-right: 20px;
            padding-bottom: 1px;
            border-bottom: #aaa solid 1px;
            display: flex;
            flex-direction: row;
        }
            .char-detail-attr-item-name{
                width: 75px;
            }
            .char-detail-attr-item-value{
                width: 50px;
                text-align: right;
            }
        .char-detail-equiplist{
            height: 50px;
            width: 100%;
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
        }
            .char-detail-equip-title{
                height: 100%;
                writing-mode: vertical-lr;
                font-family: resource;
                font-size: 20px;
                width: 36px;
                margin-left: -10px;
            }
            .char-detail-equip{
                width: 50px;
                height: 50px;
                border-width: 2px;
                margin-right: 5px;
            }
                .char-detail-equip.noequip{
                    border-color: gray;
                    background-image: url("../pages_data/equip/noequip.png");
                }
    .char-detail-illu{
        background: url("../pages_data/illu/xili_h.png");
        width: calc(100% - 450px);
        background-size: cover;
    }
        .char-detail-name{
            width: 100%;
            text-align: center;
            background-color: #00000020;
        }

.map-select{
    height: 300px;
}
    .map-select-map{
        display: flex;
        flex-direction: column;
    }
        .map-select-mapimage{
            width: calc(100% - 10px);
            height: 150px;
            margin: 0 5px;
            background-image: url("../pages_data/map/map_1.jpeg");
            background-repeat: no-repeat;
            background-position: center;
        }
    .map-select-selecter{
        margin: 5px 0 0 5px;
    }
        .map-select-chapter-select{
            display: flex;
            flex-direction: row;
            text-align: center;
        }
            .map-select-prev, .map-select-next{
                width: 30px;
                border-radius: 5px;
                transition: 200ms;
            }
                .map-select-prev:hover, .map-select-next:hover{
                    background-color: #ff398580;
                }
                .map-select-prev.disable, .map-select-next.disable{
                    color: gray;
                    pointer-events: none;
                }
            .map-select-chapter{
                width: 200px;
            }
        .map-select-subchapter-select{
            margin: 5px 0 0 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
        }
            .map-select-subchapter{
                width: 150px;
                height: 24px;
                text-align: center;
                margin-right: 5px;
                margin-bottom: 2px;
                border: #ff3985 solid 1px;
                border-radius: 5px;
                transition: 200ms;
            }
                .map-select-subchapter:hover{
                    background-color: #ff398580;
                }

.map-detail{
    height: 300px;
}
    .map-detail-map{
        display: flex;
        flex-direction: row;
        margin: 0 5px;
    }
        .map-detail-msg{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            font-family: priconne;
        }
            .map-detail-msg-item{
                height: 24px;
                margin-bottom: 5px;
                margin-right: 50px;
                border-bottom: #aaa solid 1px;
                display: flex;
                flex-direction: row;
            }
                .map-detail-msg-name{
                    height: inherit;
                    width: 30%;
                }
                .map-detail-msg-value{
                    height: inherit;
                    width: 70%;
                    text-align: right;
                }
            .map-detail-msg-intro{
                margin-right: 20px;
            }
        .map-detail-other{
            width: 50%;
        }
            .map-detail-image{
                height: 140px;
                background-image: url("../pages_data/map/map_1.jpeg");
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 5px;
                transition: 200ms;
            }
                .map-detail-image:hover{
                    box-shadow: 0 0 3px 3px #ff3985;
                    filter: brightness(1.2);
                }
                .map-detail-image-battlestart{
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: 200ms;
                    background-image: url("../pages_data/map/battlestart.png");
                    background-repeat: no-repeat;
                    background-position: center;
                }
                    .map-detail-image:hover .map-detail-image-battlestart{
                        opacity: 1;
                    }
            .map-detail-enemy, .map-detail-loot{
                height: 55px;
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
            }
                .map-detail-enemy .map-detail-item, .map-detail-loot .map-detail-item{
                    height: 50px;
                    width: 50px;
                    margin: 3px 5px 0 0;
                    border-width: 2px;
                }  
                .map-detail-loot-title{
                    height: 100%;
                    writing-mode: vertical-lr;
                    font-family: priconne;
                    font-size: 16px;
                    width: 20px;
                    /* margin-left: -10px; */
                }
